/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset Fix */

.wrap {
	width:900px;
	margin:0 auto;
}
/*
.aside {
	background:green;
	float:left;
	width:260px;
}*/

.col1
.col3
.header {
	text-align: center;
	font-size:12px;
}
/*
.container {
  max-width: 960px;
  margin: 0 auto;
  float:left;
}*/

.section {
	display: inline;
	vertical-align: top;
}

.leftalittle {

}
.col1 {
  background: #fff;
  border: 5px solid #ccc;
  padding: 40px 0px;
  height:690px;
  width: 260px;
  color: blue;
  float:right;
  text-align: center;
}

.col3 {
  background: #fff;
  border: 5px solid #ccc;
  height: 300px;
  padding: 40px 0px;
  width: 600px;
  color: blue;
  float:left;
  text-align: center;
}


/*
.header {
  background: #fff;
  border: 10px solid #ccc;
  height: 10px;
  padding: 40px 0px;
  width: 960px;
  font-size: 20px;
  color: blue;
}

.breaker {
	width:960px;
	height: 20px;
}
*/
/*
  Clearfix
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
}
/*End Clearfix*/


/*Custom Styles*/

@font-face {
  font-family: 'Bryant Normal';
  src: url('bryant-normal.eot');
  src: url('bryant-normal.eot') format('embedded-opentype'),
       url('bryant-normal.woff') format('woff'),
       url('bryant-normal.ttf') format('truetype'),
       url('bryant-normal.svg') format('svg');
}
body {
    font-family: 'Bryant Normal', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	background: white;
	color:black;
}

p {
	color:green;
	padding:10px 0;
	line-height: 30px
	font-family: Georgia, Times, 'Times New Roman', serif;
}

.psans{
	color: orange;
	font-family: 'Bryant Normal', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	line-height: 30px
}
h1 {
	font-size:42px;
	font-weight:bold;
	text-align:center;
	padding:10px;
	font-family: 'Noto Serif', serif;
}

h2 {

	font-size: 40px;
	padding:5px;
	font-family: 'IM Fell Double Pica SC', serif;
}

.h2ser {
	font-size: 60px;
	padding:5px;
	color:red;
	font-family: 'Metal Lord';
	letter-spacing: 5px;
	text-shadow: 3px 3px 0 rgb(0, 0 , 0);
}

.weather1big {
	font-size:25px;
	vertical-align: auto;
	text-align: center;
	padding: 5px;
	color:white;
	background:blue;
	width:300px;
	height:100px;
	float:left;
}

.city {
	float:left;
}

.weather1small {
	font-size:25px;
	vertical-align: auto;
	text-align: center;
	padding: 5px;
	color:white;
	background:red;
	width:150px;
	height:100px;
	float:left;
}
img {
	max-width: 100%;
	max-height: 100%;
	border:0px;
}
li {
	display:inline;
	padding:10px;
}
footer {
	clear:both;
	text-align: center;
	padding:10px;
}

li a {
	text-decoration:none;
}

ul a:hover {
	text-decoration: underline;
	font-size:20px;
}

