/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset Fix */

.wrap {
	width:900px;
	margin:0 auto;
}
/*
.aside {
	background:green;
	float:left;
	width:260px;
}*/

.col1
.col3
.header {
	text-align: center;
	font-size:12px;
}
/*
.container {
  max-width: 960px;
  margin: 0 auto;
  float:left;
}*/

.section {
	display: inline;
	vertical-align: top;
}

.leftalittle {

}
.col1 {
  background: #fff;
  border: 10px solid #ccc;
  padding: 40px 0px;
  height:700px;
  width: 260px;
  color: blue;
  float:right;
}

.col3 {
  background: #fff;
  border: 10px solid #ccc;
  height: 300px;
  padding: 40px 0px;
  width: 600px;
  color: blue;
  float:left;
}


/*
.header {
  background: #fff;
  border: 10px solid #ccc;
  height: 10px;
  padding: 40px 0px;
  width: 960px;
  font-size: 20px;
  color: blue;
}

.breaker {
	width:960px;
	height: 20px;
}
*/
/*
  Clearfix
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
}
/*End Clearfix*/


/*Custom Styles*/

p {
	color:purple;
	text-align:center;
}
body {
	background: white;
	color:black;
	font-family:Helvetica, sans-serif;
}

h1 {
	font-size:20px;
	font-weight:bold;
	text-align:center;
}

img {
	max-width: 100%;
	max-height: 100%;
	border:0px;
}
li {
	display:inline;
	padding:10px;
}
footer {
	clear:both;
}

li a {
	text-decoration:none;
}

ul a:hover {
	text-decoration: underline;
	font-size:20px;
}

/*.section1 {
	float:left;
}*/
/*span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;   
  right:200px;   
}*/

/*ol {
	background-color: red;
	width: 20px
}
*/

